@model testboard.Models.User

<h1>Register</h1>
<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group" >
        <label>User ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Enter User ID" >
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>
    
    <div class="form-group" >
        <label>Password</label>
        <input type="password" class="form-control" asp-for="UserPassword" placeholder="Enter Password" >
        <span class="text-danger" asp-validation-for="UserPassword"></span>
    </div>
    
    <div class="form-group" >
        <label>User Name</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="User Name" >
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    
    <div class="form-group" >
        <label>My property</label>
        <input type="text" class="form-control" asp-for="MyProperty" placeholder="My Property" >
        <span class="text-danger" asp-validation-for="MyProperty"></span>
    </div>
    
    <div class="form-group" >
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-warning" href="#">cancellation</a> 
    </div>
</form>
    