@model testboard.Models.User

<h1>Register</h1>
<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group" >
        <label>User ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Enter User ID" >
    </div>
    
    <div class="form-group" >
        <label>Password</label>
        <input type="text" class="form-control" asp-for="UserPassword" placeholder="Enter Password" >
    </div>
    
    <div class="form-group" >
        <label>User Name</label>
        <input type="text" class="form-control" asp-for="UserName" placeholder="User Name" >
    </div>
    
    <div class="form-group" >
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-warning" href="#">cancellation</a> 
    </div>
</form>
    